body{
  margin: 0px auto;
  font-family: 'Karla', sans-serif;
  color: rgb(255, 146, 117);
  /* font-family: 'Work Sans', sans-serif; */
}

/*  NAVIGATION STYLE*/


.nav li{
list-style: none;
display: inline-block;
padding-left: 2%;
}

.nav li:first-child{
  padding-left:0px;
}
/*  hover transitions*/
.nav a{
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.nav a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparant;
  transition: width .5s cubic-bezier(.76,.01,.48,1), background-color .5s ease;
  -o-transition: width .5s cubic-bezier(.76,.01,.48,1), background-color .5s ease;
  -moz-transition: width .5s cubic-bezier(.76,.01,.48,1), background-color .5s ease;
  -ms-transition: width .5s cubic-bezier(.76,.01,.48,1), background-color .5s ease;
  -webkit-transition: width .5s cubic-bezier(.76,.01,.48,1), background-color .5s ease;

}


.nav a:hover:after {
  width:100%;
  background: rgba(255, 99, 97,0.4);
}
/*  STACKED NAVIGATION STYLE*/

/* nav float animation*/

.nav :nth-child(1){
  animation: rise 1s ease-in;
}

.nav :nth-child(2){
  animation: rise 2s ease-in;
}
.nav :nth-child(3){
  animation: rise 3s ease-in;
}
.nav :nth-child(4){
  animation: rise 4s ease-in;
}


@keyframes rise {
  0%{
    opacity: 0;
    transform: translateY(0px);
  }

  100%{
    opacity: 1;
    transform: translateY(100px);
  }
}

/* HOME MAIN BG*/
.main{
  background: url();
}







/* FOOTER*/
/* footer social media icons*/

.fa{
  transition: opacity 0.5s ease;
}
.fa:hover{
   opacity: 0.5;
 }
